<div class="header-container">
  <header>
      <ul class="nav">
        <li>sminez.github.io - home of Innes Anderson-Morrison</li>
        <li><a href="/"><span class="mega-octicon octicon-home" style="margin-right: 6px;"></span>Home</a></li>
        <li><a href="/about"><span class="mega-octicon octicon-book" style="margin-right: 6px;"></span>About</a></li>
        <li><a href="/projects"><span class="mega-octicon octicon-package" style="margin-right: 6px;"></span>Projects</a></li>
      </ul>
  </header>
</div>
